@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url("../../public/assets/fonts/Gilroy-SemiBold.woff2");
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url("../../public/assets/fonts/Gilroy-Regular.woff2");
}